body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.progress {
  margin-top: 30px
}

td.indicator {
  font-size: 200%;
}

td.name {
  font-weight: bold;
}

td.locked button {
  font-size: 200%;
}

td.failures span.error {
  font-weight: bold;
}

td.failures ul {
  padding: 0;
  list-style-type: none;
}
